@font-face {
    font-family: "LATO", sans-serif;
    src: url(./assets/Lato-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    width: 1020px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
    box-sizing: border-box;
    width: 1020px;
    height: 95px;
    background-color: #2d303a;
    align-items: flex-end;
    border-bottom: 6px solid #323746;
}

.logo {
    font-family: "LATO", sans-serif;
    font-size: 27px;
    font-weight: 600;
    margin: 0 0 0 40px;
    cursor: pointer;
    font-stretch: condensed;
    letter-spacing: 0.5px;
    color: #fff;
}

span {
    color: #f06c64;
}

.navigation {
    display: flex;
    margin: 0 0 2px 0;
    padding: 0;
    justify-content: space-between;
    margin-right: 40px;
    width: 371px;
    color: #323746;
}


.navigation li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: "LATO", sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-stretch: semi-condensed;
}

.navigation li a:hover {
    color: #f06c64;
}

.navigation:not(:first-child) {
    list-style-type: circle;
    color: #323746;
}

